<div class="body">
    <h1 class="home-header">Welcome to CSE Motors!</h1>
    <div class="hero">
        <img class="hero-img" src="images/vehicles/delorean.jpg" alt="">
        <div class="hero-message">
            <h2>DMC Delorean</h2>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>

            <a class="hero-button" href="https://example.com">
                <img src="images/site/own_today.png" alt="Own today button">
            </a>
        </div>
    </div>
    <div class="home-page-content">
        <div class="home-reviews">
            <h2 class="home-header">DMC Delorean Reviews</h2>
            <ul class="reviews-list">
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin an I love it!" (5/5)</li>
            </ul>

        </div>
        <div class="upgrades-div">
            <h2 class="home-header">Dolorean Upgrades</h2>
            <div class="upgrades">

                <div class="home">
                    <div class="home-upgrades"><img src="images/upgrades/flux-cap.png" alt="Flux-Cap"></div><a
                        href="#">Flux
                        Capacitor</a>
                </div>
                <div>
                    <div class="home-upgrades"><img src="images/upgrades/flame.jpg" alt="Flame"></div><a href="#">Flame
                        Decals</a>
                </div>
                <div>
                    <div class="home-upgrades"><img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    </div>
                    <a href="#">Bumper
                        Stickers</a>
                </div>
                <div>
                    <div class="home-upgrades"><img src="images/upgrades/hub-cap.jpg" alt="Hub Cap"></div><a
                        href="#">Hub
                        Caps</a>
                </div>
            </div>
        </div>
    </div>
</div>