@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/******* Change Box Model ***************/
:root {
  --header-font: 'Montserrat', sans-serif;
  --body-font: Oswald, "Arial Narrow Bold", sans-serif;
  --primary-color: #25232b;
  --secondary-color: #6566ce;
  --light-text: #f1eff4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

footer {
  font-size: small;
  padding-inline: 15px;
  padding-top: 20px;
}

/* Header Start */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-transform: uppercase;
}

.siteName a {
  font-family: var(--header-font);
  font-weight: 300;
  font-size: x-large;
  text-decoration: none;
  color: var(--primary-color);
}

.home-myAccount,
.myAccountLinks a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: oswald;
}

/* Header End */

/* Nav Start */
nav ul {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

nav li {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

nav a {
  color: var(--light-text);
  text-decoration: none;
}

/* Nav End */

/* Index Body Start*/

.home-header,
h1,
h2,
.access-inv h3,
.reviewsManagement h3,
.reviews-form h3 {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: medium;
  padding-block: 20px;
  text-transform: uppercase;
  margin: 0;
}

.hero-message {
  background: rgba(250, 250, 250, 0.75);
  padding: 5px;
  position: absolute;
}

.hero-message h2 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 15px;
  color: var(--secondary-color);
  margin: 0px;
}

.hero-message ul {
  padding-left: 0px;
}

.hero-message li {
  list-style: none;
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: small;
}

.hero-button img {
  width: 7rem;
  border-radius: 4px;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.hero-img {
  width: 90%;
  margin-inline: auto;

}

.form-username {
  font-family: var(--body-font);
  padding-bottom: 10px;
}

.reviews-form textarea {
  max-height: 200px;
  min-height: 120px;
}

.reviews-list {
  line-height: 2rem;
  font-family: var(--header-font);
  font-size: smaller;
  margin: 0;
}

/* Basic styling for the reviews list */
.reviews-list {
  list-style-type: none;
  /* Remove default list bullets */
  padding: 0;
  /* Remove default padding */
  margin: 0;
  /* Remove default margin */
  border: 1px solid #ddd;
  /* Add a light border around the list */
  border-radius: 5px;
  /* Rounded corners for the list */
}

/* Style for each review item */
.review-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  line-height: 1.2;
}

.review-item h4 {
  font-family: var(--body-font);
}

.reviews-management-list {
  padding-left: 0px;
  list-style: none;
  width: 80%;
  margin-inline: auto;
  max-width: 500px;
  min-width: min-content;
}

.reviewManagerItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Alternating background colors */
.review-item:nth-child(even) {
  background-color: #f9f9f9;
}


.review-item:last-child {
  border-bottom: none;
}


.reviews-list {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}


.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.home-upgrades {
  display: flex;
  background: var(--secondary-color);
  padding: 20px;
  justify-content: center;
  margin: 20px 7px 10px 7px;
  height: 100px;

}

.home-upgrades img {
  max-width: 100%;
  height: auto;
}

.home-upgrades a {
  display: block;
  text-align: center;
}

.inv-display {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.inv-display img {
  width: 100%;
  margin-inline: auto;
}

.detail-list {
  list-style: none;
}

.reviewsSection {
  font-family: var(--header-font);
  width: -webkit-fill-available;
  margin-inline: 30px;
  padding-bottom: 30px;
}

/* Classification Page Start */
.classification-page {
  list-style: none;
  padding-left: 0px;
}

.classification-page h2 {
  padding-inline: 0px;
}

.classification-page li:nth-child(even) {
  background-color: #f3f3f3;
  padding: 20px;
}

.classification-page li:nth-child(odd) {
  border: solid 1px #f3f3f3;
  padding: 20px;
}

.classification-page a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Account Login Start */

.login-form,
.register-form,
.add-classification-form,
.edit-classification-form,
.delete-form form,
.edit-form form {
  width: fit-content;
  text-align: center;
  background: var(--primary-color);
  color: var(--light-text);
  padding: 30px;
  border-radius: 8px;
  margin: auto;
  max-width: 500px;
  font-family: var(--header-font);
}

.login-form div,
.register-form div,
.add-classification-form div,
.classificationList div,
.edit-classification-form div,
.delete-form div,
.edit-form div {
  line-height: 30px;
  font-family: var(--header-font);
  text-align: left;
}

.login-form input,
.register-form input,
.add-classification-form input,
.classificationList select,
.edit-classification-form input,
.edit-classification-form select,
.edit-classification-form textarea,
.reviews-form input,
.reviews-form textarea,
.delete-form input,
.edit-form input,
.edit-form textarea {
  width: -webkit-fill-available;
  padding-block: 1px;
  font-family: var(--header-font);
}


.login-form button,
.register-form button,
.management-button,
.add-classification-form button,
.edit-classification-form button,
.reviews-form button,
button.delete-button,
.edit-form button {
  background: var(--secondary-color);
  padding: 10px;
  color: var(--light-text);
  font-family: var(--body-font);
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  margin-top: 15px;
  text-decoration: none;
  cursor: pointer;
}

.review-login,
.reviewManagerItem a {
  text-decoration: none;
  color: var(--secondary-color)
}

h2.welcome {
  text-align: center;
  text-transform: capitalize;
  font-family: var(--header-font);
}


.edit-classification-form button:disabled {
  cursor: default;
}

.edit-classification-form button:not(:disabled) {
  cursor: pointer;
}

.register-message {
  text-align: center;
}

.register-message a,
.access-inv a,
.update-link,
.reviewManagerItem a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

.access-inv a,
.update-link {
  padding-inline: 20px;
}

.management {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}

table thead tr {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font);
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.edit-inventory {
  padding-inline: 20px;
}

.classificationList {
  font-family: var(--body-font);
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .hero img {
    max-width: 70%;
  }

  .home-page-content {
    display: flex;
    justify-content: center;
  }

  .upgrades {
    font-size: large;
  }

  .upgrades-div {
    order: 1;
  }

  .home-reviews {
    order: 2;
  }

  .hero {
    height: fit-content;
    margin-block: 30px;
  }

  .home-header {
    font-size: x-large;
  }

  .hero-message {
    left: 10%;
    width: 11rem;
  }

  .hero-message li {
    font-size: large;
  }

  .hero-button img {
    width: 100%;
    max-width: 100%;
  }

  .hero-message h2 {
    font-size: x-large
  }

  .home-header,
  h1,
  h2,
  .access-inv h3,
  .reviewsManagement h3,
  .reviews-form h3 {
    padding: 20px;
  }

  body {
    width: 80%;
    margin: 0 auto;
    background: url("/images/site/checkerboard.jpg");
  }

  #wrapper {
    border: 5px var(--secondary-color) solid;
    border-radius: 8px;
    padding: 20px;
    margin: 50px;
    background: white;
  }

  /* Detail View Start */
  .inv-display {
    gap: 30px;
    flex-direction: row;
  }

  .namePrice {
    flex: 1;
  }

  .inv-display img {
    width: 60%;
  }

  .detail-list {
    list-style: none;
  }

  .reviews-form form {
    padding-inline: 20px;
  }

  .reviewsList-body {
    padding-inline: 20px;
  }

  /* Detail View End */
}