@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/******* Change Box Model ***************/
:root {
  --header-font: 'Montserrat', sans-serif;
  --body-font: Oswald, "Arial Narrow Bold", sans-serif;
  --primary-color: #25232b;
  --secondary-color: #6566ce;
  --light-text: #f1eff4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

footer {
  font-size: small;
  padding-inline: 15px;
}

/* Header Start */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-transform: uppercase;
}

.siteName a {
  font-family: var(--header-font);
  font-weight: 300;
  font-size: x-large;
  text-decoration: none;
  color: var(--primary-color);
}

.home-myAccount,
.myAccountLinks a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: oswald;
}

/* Header End */

/* Nav Start */
nav ul {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

nav li {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

nav a {
  color: var(--light-text);
  text-decoration: none;
}

/* Nav End */

/* Index Body Start*/

.home-header,
h1,
h2 {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: medium;
  padding: 20px;
  text-transform: uppercase;
  margin: 0;
}

.hero-message {
  background: rgba(250, 250, 250, 0.75);
  padding: 5px;
  position: absolute;
}

.hero-message h2 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 15px;
  color: var(--secondary-color);
  margin: 0px;
}

.hero-message ul {
  padding-left: 0px;
}

.hero-message li {
  list-style: none;
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: small;
}

.hero-button img {
  width: 7rem;
  border-radius: 4px;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.hero-img {
  width: 90%;
  margin-inline: auto;

}

.reviews-list {
  line-height: 2rem;
  font-family: var(--header-font);
  font-size: smaller;
  margin: 0;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.home-upgrades {
  display: flex;
  background: var(--secondary-color);
  padding: 20px;
  justify-content: center;
  margin: 20px 7px 10px 7px;
  height: 100px;

}

.home-upgrades img {
  max-width: 100%;
  height: auto;
}

.home-upgrades a {
  display: block;
  text-align: center;
}

.inv-display {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

.inv-display img {
  width: 100%;
  margin-inline: auto;
}

.detail-list {
  list-style: none;
}

.reviewsList {
  padding-bottom: 30px;
}

.reviewsList-body {
  font-family: var(--header-font);
  width: -webkit-fill-available;
  margin-inline: 30px;
}

/* Classification Page Start */
.classification-page {
  list-style: none;
  padding-left: 0px;
}

.classification-page h2 {
  padding-inline: 0px;
}

.classification-page li:nth-child(even) {
  background-color: #f3f3f3;
  padding: 20px;
}

.classification-page li:nth-child(odd) {
  border: solid 1px #f3f3f3;
  padding: 20px;
}

.classification-page a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Account Login Start */

.login-form,
.register-form,
.add-classification-form,
.edit-classification-form {
  width: fit-content;
  text-align: center;
  background: var(--primary-color);
  color: var(--light-text);
  padding: 30px;
  border-radius: 8px;
  margin: auto;
  max-width: 500px;
  font-family: var(--header-font);
}

.login-form div,
.register-form div,
.add-classification-form div,
.classificationList div,
.edit-classification-form div {
  line-height: 30px;
  font-family: var(--header-font);
  text-align: left;
}

.login-form input,
.register-form input,
.add-classification-form input,
.classificationList select,
.edit-classification-form input,
.edit-classification-form select,
.edit-classification-form textarea,
.reviews-form input,
.reviews-form textarea {
  width: -webkit-fill-available;
  padding-block: 1px;
  font-family: var(--header-font);
}


.login-form button,
.register-form button,
.management-button,
.add-classification-form button,
.edit-classification-form button,
.reviews-form button {
  background: var(--secondary-color);
  padding: 10px;
  color: var(--light-text);
  font-family: var(--body-font);
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  margin-top: 15px;
  text-decoration: none;
  cursor: pointer;
}

.review-login {
  text-decoration: none;
  color: var(--secondary-color)
}



.edit-classification-form button:disabled {
  cursor: default;
}

.edit-classification-form button:not(:disabled) {
  cursor: pointer;
}

.register-message {
  text-align: center;
}

.register-message a {
  color: var(--secondary-color);
  font-weight: bold;
}

.management {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: fit-content;
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}

table thead tr {
  background-color: var(--secondary-color);
  color: #ffffff;
  text-align: left;
  font-family: var(--body-font);
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.modify-link,
.delete-link {
  color: #009879;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.edit-inventory {
  padding-inline: 20px;
}

.classificationList {
  font-family: var(--body-font);
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .hero img {
    max-width: 70%;
  }

  .home-page-content {
    display: flex;
    justify-content: center;
  }

  .upgrades {
    font-size: large;
  }

  .upgrades-div {
    order: 1;
  }

  .home-reviews {
    order: 2;
  }

  .hero {
    height: fit-content;
    margin-block: 30px;
  }

  .home-header {
    font-size: x-large;
  }

  .hero-message {
    left: 10%;
    width: 11rem;
  }

  .hero-message li {
    font-size: large;
  }

  .hero-button img {
    width: 100%;
    max-width: 100%;
  }

  .reviews-list li {
    font-size: large;
    margin-block: 16px;
  }

  .reviewsList-body {
    width: 60%;
  }

  .hero-message h2 {
    font-size: x-large
  }

  body {
    width: 80%;
    margin: 0 auto;
    background: url("/images/site/checkerboard.jpg");
  }

  #wrapper {
    border: 5px var(--secondary-color) solid;
    border-radius: 8px;
    padding: 20px;
    margin: 50px;
    background: white;
  }

  /* Detail View Start */
  .inv-display {
    gap: 30px;
    flex-direction: row;
  }

  .namePrice {
    flex: 1;
  }

  .inv-display img {
    width: 60%;
  }

  .detail-list {
    list-style: none;
  }


  /* Detail View End */
}