@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/******* Change Box Model ***************/
:root {
  --header-font: 'Montserrat', sans-serif;
  --body-font: Oswald, "Arial Narrow Bold", sans-serif;
  --primary-color: #25232b;
  --secondary-color: #6566ce;
  --light-text: #f1eff4;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

footer {
  font-size: small;
  padding-inline: 15px;
}

/* Header Start */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-transform: uppercase;
}

.siteName a {
  font-family: var(--header-font);
  font-weight: 300;
  font-size: x-large;
  text-decoration: none;
  color: var(--primary-color);
}

.home-myAccount {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: oswald;
}

/* Header End */

/* Nav Start */
nav ul {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

nav li {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

nav a {
  background: var(--primary-color);
  display: flex;
  color: var(--light-text);
  list-style: none;
  justify-content: space-evenly;
  padding: 20px;
  font-size: large;
  font-family: var(--body-font);
  text-transform: uppercase;
  margin: 0;
}

/* Nav End */

/* Index Body Start*/

.home-header {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: medium;
  padding: 20px;
  text-transform: uppercase;
  margin: 0;
}

.hero-message {
  background: rgba(250, 250, 250, 0.75);
  padding: 5px;
  position: absolute;
}

.hero-message h2 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 15px;
  color: var(--secondary-color);
  margin: 0px;
}

.hero-message ul {
  padding-left: 0px;
}

.hero-message li {
  list-style: none;
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: small;
}

.hero-button img {
  width: 7rem;
  border-radius: 4px;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
}

.hero-img {
  width: 90%;
  margin-inline: auto;

}



.reviews-list {
  line-height: 2rem;
  font-family: var(--header-font);
  font-size: smaller;
  margin: 0;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;

}

.home-upgrades {
  display: flex;
  background: var(--secondary-color);
  padding: 20px;
  justify-content: center;
  margin: 20px 7px 10px 7px;
  height: 100px;

}

.home-upgrades img {
  max-width: 100%;
  height: auto;
}

.home-upgrades a {
  display: block;
  text-align: center;
}

@media (min-width: 700px) {
  .hero img {
    max-width: 70%;
  }

  .home-page-content {
    display: flex;
    justify-content: center;
  }

  .upgrades-div {
    order: 1;
  }

  .home-reviews {
    order: 2;
  }

  .hero {
    height: fit-content;
    margin-block: 30px;
  }

  .home-header {
    font-size: x-large;
  }

  .hero-message {
    left: 10%;
    width: 11rem;
  }

  .hero-message li {
    font-size: large;
  }

  .hero-button img {
    width: 100%;
    max-width: 100%;
  }

  .reviews-list li {
    font-size: large;
    margin-block: 16px;
  }

  .hero-message h2 {
    font-size: x-large
  }

  .body {
    width: 80%;
    margin: 0 auto;
  }

  #wrapper {
    border: 2px var(--secondary-color) solid;
    border-radius: 8px;
    padding: 20px;
    margin: 50px;
  }


}