<!-- Content Heading -->
<h1>
    <%= title %>
</h1>
<!-- Message -->
<%- messages() %>

    <!-- Item Details Display -->
    <form class="add-classification-form" id="addClassificationForm" action="/inv/addClassification" method="POST">
        <div>
            <label for="classificationName">Classification Name:</label>
            <input type="text" id="classificationName" name="classification_name" required pattern="^[a-zA-Z0-9]+$"
                title="Classification name cannot contain spaces or special characters.">
            <span class="validation-message">Classification name cannot contain spaces or special
                characters.</span>
        </div>
        <span class="error-message" id="classificationError">
        </span>
        <button type="submit">Submit</button>
    </form>