<!-- Content Heading -->
<h1>
    <%= title %>
</h1>

<!-- Item Details Display -->
<%- detail_view %>

    <h2>Reviews</h2>
    <!-- 
    <div class="reviews">
        <p>Reviews Paragraph</p>
        <#%- reviewsList %>

            <noscript>JavaScript must be enabled to use this page.</noscript>
    </div> -->