<!-- Content Heading -->
<h1>
    <%= title %>
</h1>

<!-- Message -->
<%- messages() %>

    <!-- Item Details Display -->

    <div class="management">
        <a class="management-button" href="/inv/addClassification"> + Add New Classification </a>
        <a class="management-button" href="/inv/addInventory"> + Add New Inventory </a>
    </div>

    <h2>Manage Inventory</h2>
    <div class="edit-inventory">
        <p>Select a classification from the list to see the items in that classification.</p>
        <%- classificationSelect %>

            <table id="inventoryDisplay"></table>

            <noscript>JavaScript must be enabled to use this page.</noscript>
    </div>

    <script src="../../js/inventory.js"></script>