<!-- Content Heading -->
<h1>
    <%= title %>
</h1>

<!-- Message -->
<%- messages() %>

    <!-- Item Details Display -->
    <div class="management">
        <a class="management-button" href="/inv/addClassification"> + Add New Classification </a>
        <a class="management-button" href="/inv/addInventory"> + Add New Inventory </a>
    </div>